.app-header {
    background-color: $clr1;
    width: 100vw;
    color: $clr2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
    .active {
        color: $clr7;
    }

    a {
        font-weight: 600;
        color: $clr2;
    }

    img {
        width: 200px;
        height: 100%;
    }

    nav {

        display: flex;
        gap: 10px;
        margin-right: 140px;
    }
}