.guide {
   
    overflow: hidden;
    background-color: $bgclr2;
    position: relative;
  
    .guide-step{
        height: 100vh;
        min-width: 100vw;
        @include background-img;

        h2{
            font-size: 3rem;
        }
    }

    .guide-btns-cont,
    .next-step-btn{
        
        right: 7vw;
        position: absolute;
        bottom: 50px;
        font-size: 2rem;

    }

    .next-step-btn{
       width: 75px;
       height: 75px;   
        border-radius: 50%;
        background-color: $clr1;  
    }

    .start-helping-btn{
        background-color: $clr1;

    }
    .register-btn{
        background: none;
    }

    .guide-btns-cont{   
        button{
            border-radius: 2em;
            padding: 10px 0;
            width: 180px;
            font-size: 1.5rem;
            margin-left: 0.5rem;
        }
        
    }

}