.guide {
    overflow: hidden;
    background-color: $bgclr2;
    position: relative;

    .guide-step {
        height: 100vh;
        min-width: 100vw;
        transition: 1.5s;
        @include background-img;

        h2 {
            font-size: 3rem;
            padding-bottom: 75px;
        }
    }

    .guide-btns-cont {
        position: absolute;
        bottom: 80px;
        font-size: 2rem;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        
        @include for-midium-layout {
            bottom: 120px;
        }

        @include for-wide-layout {
            bottom: 75px;
            right: 7vw;
            flex-direction: row;
            transform: translate(+50%, +50%);
        }
    }

    .next-step-btn {
        position: absolute;
        font-size: 2rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $clr1;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, -140%);

        @include for-midium-layout {
            width: 75px;
            height: 75px;
            transform: translate(+400%, +0%);
        }
    }

    .start-helping-btn {
        background-color: $clr1;
    }

    .register-btn {
        background: none;
    }

    .guide-btns-cont {
        button {
            border-radius: 2em;
            padding: 10px 0;
            width: 180px;
            font-size: 1.5rem;
            margin-left: 0.5rem;
        }
    }

    .steps-pageing {
        position: absolute;
        display: flex;
        gap: 0.5rem;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 30px;

        @include for-mobile-layout {
            bottom: 0px;
        }

        .active {
            box-shadow: 1px 1px 5px 5px rgba(6, 153, 109, 0.75);
            -webkit-box-shadow: 1px 1px 5px 5px rgba(6, 153, 109, 0.75);
            -moz-box-shadow: 1px 1px 5px 5px rgba(6, 153, 109, 0.75);
        }

        img {
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: 0.3s;

            @include for-mobile-layout {
                width: 75px;
                height: 75px;
            }

            @include for-midium-layout {
                width: 100px;
                height: 100px;
            }

            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}