.location-filter {
    @include modal;

    @include for-mobile-layout {
        width: 500px;
        height: 740px;
        border-radius: 8px;
    }

    .search-loc-input {
        width: 100%;
        border: none;
        border-radius: 4px;
        height: 40px;
        text-align: center;
        transition: 0.3s;
        font-size: rem(18px);
        background-color: $clr9;
        box-shadow: $shadow1;
        color: $clr1;

        &:focus {
            border: 2px solid $clr1;
            outline-color: $clr1;
        }
    }

    h3 {
        margin: 1.7rem 0;
        text-align: center;
        font-weight: lighter;
        font-family: Circular;

        @include for-mobile-layout {
            margin: 30px 0;
        }
    }

    .range {
        height: 80px;
        margin: 0 auto;
        width: 80%;
        background-color: $clr2;
        border-radius: 10px;
        padding: 0 65px 0 45px;

        .sliderValue {
            position: relative;
            width: 100%;


            span {
                position: absolute;

                height: 45px;
                width: 45px;
                display: flex;
                justify-content: center;

                color: $clr2;
                font-weight: 500;
                top: -40px;
                transform: translateX(-50%);
                line-height: 55px;
                z-index: 2;



                &::after {

                    position: absolute;
                    content: "";
                    height: 45px;
                    width: 45px;
                    background: $clr1;
                    transform: translateX(-50%) rotate(45deg);
                    border: 3px solid $clr2;
                    left: 50%;
                    z-index: -1;
                    border-top-left-radius: 50%;
                    border-top-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                }
            }
        }

        .field {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            input {
                -webkit-appearance: none;
                height: 3px;
                width: 100%;
                background: #000;
                border-radius: 5px;
                outline: none;
                border: none;

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 20px;
                    width: 20px;
                    background: $clr1;
                    border-radius: 50%;
                    border: 1px solid $clr1;
                    cursor: pointer;
                }
            }

            .value {
                position: absolute;
                font-size: 18px;
                font-weight: 600;
                color: $clr1;

                &.left {
                    left: -22px;
                }

                &.right {
                    right: -43px;
                }
            }
        }
    }

    .action-btns-cont {
        position: absolute;
        right: 16px;
        bottom: 25px;

        button {
            width: 70px;
            border-radius: 2rem;
            font-size: rem(20px);
            width: 90px;
            height: 40px;
        }

        .clear-btn {
            background: none;
            color: #000;
        }
    }

    :where(.css-dev-only-do-not-override-yp8pcc).ant-picker:hover,
    :where(.css-dev-only-do-not-override-yp8pcc).ant-picker-focused {
        border: none;
    }

    .ant-picker {
        background-color: $clr9;
        box-shadow: $shadow1;
        width: 100%;

        &:focus {
            outline: none;
            border: none;
        }

        input {
            color: $clr1;
            font-size: 1.5rem;
            text-align: center;

            &:focus {
                outline: none;
                border: none;
            }
        }
    }
}