.no-loc-modal{
    @include modal;

    background: $clr2;
    z-index: 100;
    

    form{
        margin-top: 1rem;
        width: 100%;
        gap: 1rem;

        p{
            width: 100%;
            text-align: center;
        }
        img,button{
            width: 80%;
           
        }
        button{
            font-size: 1.4rem;
            width: 60%;
            padding: 0.75rem 0;
            margin-top: 1rem;
            background-color: $clr9;
            color: black;
            
        }
       
    }
}