.participants-amount{
    gap: 1rem;
    border-radius: 2rem;
    border:1px solid $clr8;
    background-color: $clr9;
    box-shadow: $shadow1;
    color: $clr1;
    
    button{
        background-color: none;
        
        border-radius: 50%;
        padding: 15px;
    }

    p{
        font-size: rem(20px);
    }
}