.add-location-form {
    margin: 150px auto;
    width: 100%;
    gap: 30px;
    flex-direction: column;

    @include for-midium-layout {
        flex-direction: row;
    }

    .location-imgs {
        width: 100%;
        gap: 0.5rem;
        flex-direction: column;
        margin: 0 auto;

        @include for-narrow-layout {
            width: 80%;
        }

        @include for-midium-layout {
            width: 50%;
        }

        @include for-normal-layout {
            flex-direction: row;
            align-items: flex-end;
        }

        .location-imgs-paging {
            justify-content: center;
            gap: 4px;

            @include for-normal-layout {
                flex-direction: column;
                justify-content: flex-end;
            }

        }

        .curr-img {
            height: 350px;
            background: $clr9;
            width: 100%;
            @include background-img;

            @include for-midium-layout {
                height: 850px;
            }
            
            @include for-normal-layout {
                width: 80%;
            }
        }

        .empty-img {
            background-color: $clr9;          
            width: 32.5%;
            height: 80px;

            @include for-mobile-layout {
                width: 120px;
                height: 100px;
            }

            .selected-img{
                position: relative;
                width: 100px;
                height: 80px;

                @include for-normal-layout {
                    width: 120px;
                    height: 100px;
                }
            }   

            img{
                width: 100%;
                height: 100%;
            }

            button{               
                position: absolute;
                font-size: 1.75rem;
                color: $clr2;
                padding: 0;
                margin: 0;
                right: 0;
            }
        }
    }

    .location-info-inputs {
        width: 100%;
        gap: 60px;
        margin: 0 auto;

        @include for-mobile-layout {
            width: 80%;
        }

        @include for-midium-layout {
            width: 50%;
        }

        .location-name-input-container{
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            z-index:2;
            
            @include for-midium-layout {
                position: static;
                transform: translateX(0%);
                width: 400px;
            }
        }

        .possible-locs-list{
          position: absolute;
          width: 100%;
          list-style-type: none;
          padding: 0 ;
          margin:0.5rem 0;
          border-radius: 0.5rem;
          border: 2px solid $clr9;
         
          @include for-midium-layout {
             top: 35px; 
        }
        }

        .possible-loc-prev{
            background-color: $clr2;    
            width: 100%;
            padding: 1rem;
            border-bottom: 1px solid $clr9;      
            cursor: pointer;   
            font-weight: bold;

            &:hover{
                background-color: $clr9;
            }
        }

        .location-name-input {
            padding: 0 1rem;
            font-size: 1.4rem;
            font-weight: bold;
            border: none;
            border-bottom: 2px solid black;
            font-family: Cereal;
            width: 100%;

            @include for-midium-layout {
               font-size: 1.8rem;
            }

            &:focus {
                outline: none;
            }
            &.error{
                border-bottom:2px solid $clr10;
            }
        }

        .location-info-input {
            width: 100%;
            font-size: 1.2rem;
            padding: 1rem;
            height: 350px;
            
        }

        .participants-amount {
            width: 280px;
        }

        .inform-btn{
            padding: 1rem 4rem;
            border-radius: 2rem;
            font-size: 1.4rem;
           
        }
    }
    .error{
        border: 3px solid $clr10;

        &:focus{
            outline: 3px solid $clr10;
            border: none;
        }
    }
   .error-msg{
         color: $clr10;   
        display: block;
        position: absolute;    
        left: 50%;
        transform: translatex(-50%);
    }
}
