.home-page{
   
    .hero{
        background-image: url(../../img/hero1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
      
        justify-content: center;

        .hero-info{
            margin-top: 140px;
            align-items: center;
            text-align: center;
            display: flex;
           flex-direction: column;
           align-items: center;
           width: 500px;
           gap: 20px;
        }
        
        button{
            width: 250px;
            height: 40px;
            border-radius: 2rem;     
            background-color: $clr3;
            color: $clr2;
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 40px;
           
        }

        h1{
            font-size: 2rem;
        }
     }



    }
