.location-details {
    position: relative;

    .app-header {
        background-color: $clr2;
        border-bottom: 2px solid $clr9 ;
        color: $bgclr1;

        @include for-narrow-layout {
            background-color: $clr1;
            color: $clr2;
            border-bottom: none;
        }

        .go-back {
            padding-top: 12px;
            font-size: 1.75rem;
            padding-left: 15px;
            @include for-narrow-layout {
                display: none;
            }
        }

        .logo {
            display: none;
            @include for-narrow-layout {
                display: block;
            }
        }
    }

    .location {
        margin-top: 150px;
        gap: 30px;
        flex-direction: column;

        @include for-midium-layout {
            flex-direction: row;
        }
    }

    .gatheringCarousel {
        width: 100%;
        gap: 8px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100vw;
        position: absolute;
        left: 0;

        @include for-narrow-layout {
            width: 100%;
            position: static;
        }

        @include for-midium-layout {
            width: 50%;
        }

        @include for-normal-layout {
            flex-direction: row;
            align-items: flex-end;
        }

        .gatheringImgs {
            max-height: 350px;
            overflow: hidden;
            // overflow-y: scroll;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            width: 100%;


            @include for-narrow-layout {
                width: 80%;
            }

            @include for-midium-layout {
                max-height: 850px;
                width: 100%;
            }

            img {
                max-height: 100%;
                height: 350px;
                transition: 0.3s;
                @include background-img;
                width: 100%;


                @include for-midium-layout {
                    height: 850px;
                }

            }
        }

        .carousel-paging {
            gap: 8px;
            padding: 0 1.5rem;
            width: 100%;

            @include for-mobile-layout {
                width: auto;
            }

            @include for-narrow-layout {
                padding: 0;
            }

            @include for-normal-layout {
                flex-direction: column;
                justify-content: flex-end;
            }

            img {
                width: 32.5%;
                height: 80px;

                @include for-mobile-layout {
                    width: 120px;
                    height: 100px;
                }

            }
        }
    }

    .location-info {
        width: 100%;
        margin: 475px auto 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 1rem;
        text-align: center;

        @include for-mobile-layout {
            width: 80%;
        }

        @include for-narrow-layout {
            margin: 0 auto;
        }

        @include for-midium-layout {
            width: 50%;
        }

        @include for-wide-layout {
            gap: 40px;
            font-size: 1.2rem;
        }

        h2 {
            position: absolute;
            white-space: nowrap;
            top: 100px;
            left: 50%;
            font-weight: lighter;
            transform: translateX(-50%);

            @include for-midium-layout {
                position: static;
                transform: translateX(0%);
            }
        }

        .gathering-host {
            gap: 0.5rem;
            margin: 2rem;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }

        .join-gathering {
            button {
                padding: 1rem 4rem;
                border-radius: 2rem;
                font-size: 1.4rem;
            }

            p {
                font-size: 0.75rem;
            }
        }

        .gathering-stats {
            box-shadow: $shadow1;
        }

        .info-list {
            display: grid;
            grid-template-columns: 1fr 1fr;

            p {
                font-size: 1.25rem;
                padding: 2rem 0;
                position: relative;

                svg {
                    position: absolute;
                    top: 2rem;
                    right: -25px;
                }
            }
        }

        h4 {
            margin: 0.5rem 0;
        }

        svg {
            margin-top: 6px;
        }

        .create-gathering {
            gap: 1rem;
            width: 100%;
            margin: 0 auto;
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: $shadow1;
            position: relative;

            @include for-mobile-layout {
                width: 350px;
            }

            h3 {
                padding-bottom: 1rem;
                width: 100%;
                border-bottom: 1px solid lightgray;
            }

            .select-date-error {
                color: $clr10;
                position: absolute;
                top: 115px;
                font-size: 0.75rem;
            }

            .ant-picker {
                background-color: $clr1;
                width: 290px;

                input {
                    color: $clr2;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }

            .create-btn {
                padding: 1rem 2rem;
                border-radius: 8px;
                font-size: 1rem;

                @include for-normal-layout {
                    padding: 1rem 2.5rem;
                    font-size: 1.5rem;
                }
            }

            .time-picker {
                font-size: 1.25rem;

                button {
                    border-radius: 8px;
                    font-size: 1.25rem;

                }
            }
        }
    }

}