.login-signup-page {

    @include for-mobile-layout {
        background-image: url(../../img/formbg.jpg);
        @include background-img;
        height: 100vh;
        width: 100vw;
    }

    .app-header {
        background-color: $clr1;
    }

    .log-cont {
        background-color: $clr2;
        position: absolute;
        top: 150px;
        padding: 10px;
        left: 50%;
        transform: translateX(-50%);

        @include for-mobile-layout {
            width: 460px;
            border-radius: 8px;
            box-shadow: $shadow1 ;
        }
    }

    .login-logo {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
    }


}