.user-details {

    background-image: url(../../img/formbg1.jpg);
    @include background-img;
    color: $clr2;
    min-height: 100vh;

    .app-header {
        background-color: $clr12;
    }

    .user-details-header {
        margin: 100px 0;
        padding: 2rem;
        background-color: $clr12;
        
        .profile-img {
            width: 200px;
            height: 200px;
            margin-right: 1rem;
        }
    }

    .user-info {
        padding: 1rem 0;
        flex-grow: 1;

        .user-lvl {
            font-size: 1.5rem;
        }

        .balance {
            display: inline-block;
            margin-top: 3rem;
            text-align: center;
        }

        h3 {
            font-size: 1.5rem;
        }
    }

    .actions-section {
        gap: 3rem;

        h4 {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            color: $clr11;
            padding-left: 1rem;
        }

        .no-actions{
            background-color: $clr12;
            height: 500px;
            padding:2rem 1rem;
        }
    }

    .user-actions {
        flex-grow: 1;

        .action-list {
            min-height: 500px;
            background-color: $clr12;
            padding: 1rem;
            gap: 1rem;
        }
    }

    .action-preview {
        padding: 1rem;
        gap:1rem;
        border-bottom: 2px solid $clr11;
        position: relative;

        img {
            height: 100px;
            width: 200px;
        }

            div {
                position: absolute;
                right: 1rem;
                bottom: 1rem;
                font-size: 0.9rem;
                font-weight: lighter;
            }
        }

    .more-options {
        width: 30%;
        div{
            gap: 2.5rem;
            background-color: $clr12;
            color: $clr11;
            padding: 2rem 1rem;
        }
    }
}