// Colors
$clr1: #0EA47A;
$clr2: white;
$clr3: #D25CEE;
$clr4: #9033DA;

$clr5: #dff0ea;
$clr6: #dff0ea;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 745px;
$medium-breakpoint: 950px;
$normal-breakpoint: 1125px;
$wide-breakpoint: 1390px;
$ultra-wide-breakpoint: 1920px;